
.pageIn {
    animation-name: pageIn;
	animation-duration: 2s;
}

@keyframes pageIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.Button, .Button * {
    animation: none;
    transform: none;
}