@font-face {
	font-family: '851手書き雑フォント';
	src: url(../font/851tegaki_zatsu_normal_0883.ttf);
}

* {
	font-family: '851手書き雑フォント';
	font-weight: bold;
}

html {
	max-width: 80%;
	margin: 0 auto;
}

body {
	padding: 2em;
}

.text {
	padding: 0 2em;
}

p, ul {
	padding: 0.2em 2em 2em;
	line-height: 1.4em;
}

li {
	list-style-type: none;
}

#works_parentFrame {
	display: flex;
	padding: 0 2em;
}

.works_tileFrame {
	width: 160px;
	height: 160px;
	background-color: var(--Color_White);
	border: 2px solid var(--Color_SkyBlue);
	text-align: center;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 0.8em;
}

.works_tileFrame img {
	object-fit: cover;
	max-height: 100%;
	max-width: 100%;
	filter: blur(5px) brightness(120%);
}

.works_tileText {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
}

.works_tileFrame h5, .works_tileFrame h3 {
	margin: 0;
	padding: 0.4em;
}