:root {
	--Color_White: #FCFCFC;
	--Color_Black: #000000;
	--Color_Gray: #CCCCCC;
	--Color_Blue: #4444FC;
	--Color_Dark: #111111;
	--Color_Text: #222;
	--Color_Bg_Background: #FFF;
	--Color_Bg_Line: #ECECEC;
	--Color_Theme: #7db4e6;/*#8DDBBF;/*#7db4e6;*/
	--Shadow: drop-shadow(4px 4px 4px #00000044);
	--Shadow_Sub: drop-shadow(2px 2px 2px #00000044);
}

@keyframes flash {
	0% {
		opacity: .8;
		transform: skewX(2deg);
	}
	30% {
		opacity: 1;
		transform: skewX(-2deg);
	}
	60% {
		opacity: .95;
		transform: skewX(.5deg);
	}
	100% {
		opacity: 1;
		transform: skewX(.5deg);
	}
}

@keyframes contents_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#contents {
	overflow: hidden;
	display: none;
	animation-duration: 1.8s;
	animation-name: contents_in;
	animation-play-state: paused;
	animation-timing-function: ease;
}

html {
	max-width: 80%;
	margin: 0 auto;
	color: var(--Color_Text);
}

@media (max-width: 999px) {
	html {
		max-width: 100%;
	}
}

p, ul, span {
	font-size: smaller;
}

h1 {
	margin-top: .5em;
}

h4 {
	margin: .6em .2em .275em;
}

span {
	padding: 1em 0 0;
	display: block;
}

hr {
	border: none;
	height: 1px;
	margin: 1.4em 0;
}

hr.bold {
	height: 3px;
}

body {
	padding: 1.5em;
}

@media (max-width: 599px) {
	body {
		padding: 0.8em;
	}
}

.text {
	padding: 0 2em;
}

@media (max-width: 599px) {
	.text {
		padding: 0 0.8em;
	}
}

p, ul {
	padding: 0.2em 2em 2em;
	line-height: 1.75em;
}

#head {
	padding: 1em;
}

.ul_ver2 {
	width: 100%;
	display: inline-block;
	height: auto;
	list-style: none;
	margin-top: .28em;
	padding: 0 .8em .8em;
}

.ul_ver2 li {
	float: left;
}

@media (max-width: 599px) {
	.ul_ver2 {
		width: 100%;
		box-sizing: border-box;
		padding: 0 2em;
	}
	.ul_ver2 li {
		width: 100%;
		display: block;
		margin: .4em 0.8em;
	}
}