/* ボタン */

.Button {
	min-width: 9em;
	height: auto;
	box-sizing: border-box;
	border-radius: var(--default_radius);
	padding: 0.6em 1em;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
	font-weight: bold;
	background: var(--Color_White2);
	text-decoration: none;
	margin: .4em 0.8em;
	border-left: solid .55em;
	word-wrap: none;
	white-space: pre;
}

@media (max-width: 599px) {
	.Button {
		width: 100%;
		margin: 0;
	}
}

a.Button {
	filter: var(--Shadow);
	transition: var(--default_transition);
}

a.Button:hover {
	filter: var(--Shadow_Sub);
}

a.Button:link, a.Button:visited, a.Button:hover, a.Button:active {
	color: var(--Color_Text);
}