.twitter {
    border-color: #55acee;
}

.github {
    border-color: #4183c4;
}

.html5 {
    border-color: #e44b23;
}

.css3 {
    border-color: #563d7c;
}

.javascript {
    border-color: #f1e05a;
}

.c {
    border-color: #555555;
}

.cpp {
    border-color: #f34b7d;
}

.java {
    border-color: #b07219;
}

.hsp3 {
    border-color: #01BFA7;
}

.processing3 {
    border-color: #0096D8;
}

.python3 {
    border-color: #3572A5;
}

.batchfile {
    border-color: #89e051;
}

.gitkraken {
    border-color: #169287;
}

.vscode {
    border-color: #1384D0;
}

.notepad {
    border-color: #CCCCCC;
}

.sakura {
    border-color: #FF00FF;
}

.winapi {
    border-color: #8163C5;
}

.dxlib {
    border-color: #846283;
}

.git {
    border-color: #F04F30;
}