.head_main {
	padding: 0.4em 0.5em;
	color: var(--ColorText);
	background: var(--Color_White3);
	border-left: solid 5px var(--Color_Theme);
}

.head_sub {
	position: relative;
	padding-left: 28px;
}

.head_sub:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px var(--Color_Theme);
}

.head_sub:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px var(--Color_Theme);
}

