.head_main {
	padding: 0.4em 0.5em;
	color: var(--ColorText);
	background: var(--Color_White3);
	border-left: solid 5px var(--Color_Theme);
}

.head_sub {
	position: relative;
	padding-left: 1.5em;
}

.head_sub:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 100%;
	height: 0;
	border-bottom: solid 3px var(--Color_Theme);
}

.head_sub:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: .5em;
	width: 100%;
	border-bottom: solid 3px var(--Color_White5);
	box-sizing: border-box;
}

