#log_frame {
    list-style: none;
}

.log_title {
    font-size: medium;
    font-weight: bold;
    padding: .5em 0;
}

.log_text {
    font-size: small;
    padding-bottom: 1.5em;
    white-space: pre-wrap;
}

@media (min-width: 600px) {
    #log_frame li {
        overflow: hidden;
        margin: 0;
        position: relative;
        display: flex;
    }
    .log_date {
        width: 80px;
        float: left;
        margin-top: 12px;
    }
    .log_text {
        padding-left: 1em;;
    }
    .log_content {
        width: 75%;
        float: left;
        border-left: 3px var(--Color_Gray) solid;
        padding-left: 30px;
    }
    .log_content:before {
        content: '';
        width: 11px;
        height: 11px;
        background: var(--Color_Theme);
        position: absolute;
        left: 76px;
        top: 16px;
        border-radius: 100%;
    }
}