#modal .textCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

#modal * {
    transform: none;
}

#modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--Color_White4);
    width: 480px;
    height: 600px;
    min-height: 80%;
    min-width: 80%;
    max-height: 90%;
    max-width: 90%;
    border-radius: var(--default_radius);
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

#modalBarBack {
    width: 100%;
    text-align: center;
    padding: 1.4em 0 1.2em;
    background: var(--Color_Red);
    opacity: 1;
    color: var(--Color_White2);
    filter: var(--Shadow);
    transition: opacity var(--default_transition), filter var(--default_transition);
    border-bottom-left-radius: var(--default_radius);
    border-bottom-right-radius: var(--default_radius);
    overflow: hidden;
}

#modalBarBack:hover {
    cursor: pointer;
    opacity: .75;
    filter: var(--Shadow_Sub);
}

#modalBarTitle {
    background-color: var(--Color_Gray);
    padding: 0.4em 1em 0.2em;
}

#modalContentFrame {
    max-width: 100%;
    background-image: linear-gradient(var(--Color_White5) 1px, transparent 0), linear-gradient(90deg, var(--Color_White5) 1px, transparent 0);
    background-size: 20px 20px;
    padding: 1em 2em;
    overflow-y: scroll;
}

#modalContentFrame * {
    animation: none;
    transform: none;
}

#modalContentFrame hr {
    height: 2px;
    margin: 1em 0;
    background: var(--Color_Text);
}

#modalContentFrame img {
    padding: 2%;
    width: 20%;
    min-width: 256px;
    max-width: 100%;
}

#modalContentFrame a {
    filter: var(--Shadow);
    transition: filter var(--default_transition);
}

#modalContentFrame a:hover {
    filter: var(--Shadow_Sub);
}