#modal .textCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--Shadow_dark);
}

#modal * {
    transform: none;
}

#modalWindow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--Color_Bg_Background);
    width: 480px;
    height: 600px;
    min-height: 80%;
    min-width: 80%;
    max-height: 90%;
    max-width: 90%;
    border-radius: var(--default_radius);
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

#modalBar {
    background: #AAA;
    position: relative;
}

#modalBarBack {
    display: block;
    position: relative;
    font-size: 10px;
    border: solid 1px #AA2222;
    background: #EE2222;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 3px 4px;
    box-sizing: border-box;
    float: left;
}

#modalBarBack:hover {
    cursor: pointer;
    transition: var(--default_transition);
    border-width: 10px;
}

#modalBarTitle {
    margin: auto 0;
    margin-left: 2em;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

#modalContentFrame {
    max-width: 100%;
    background-image: linear-gradient(var(--Color_Bg_Line) 1px, transparent 0), linear-gradient(90deg, var(--Color_Bg_Line) 1px, transparent 0);
    background-size: 20px 20px;
    padding: 1em 2em;
    overflow-y: scroll;
}

#modalContentFrame * {
    animation: none;
    transform: none;
}

#modalContentFrame hr {
    height: 2px;
    margin: 1em 0;
    background: var(--Color_Text);
}

#modalContentFrame img {
    padding: 2%;
    width: 20%;
    min-width: 256px;
    max-width: 100%;
}