/* 未整理 */

.ul_ver2 {
    width: 100%;
    display: inline-block;
    height: auto;
    list-style: none;
    margin-top: .28em;
    padding: 0 .8em .8em;
}

.ul_ver2 li {
    float: left;
}

@media (max-width: 599px) {
    .ul_ver2 {
        width: 100%;
        box-sizing: border-box;
        padding: 0 2em;
    }
    .ul_ver2 li {
        width: 100%;
        display: block;
        margin: .4em 0.8em;
    }
}

hr.bold {
    height: 3px;
}

#head {
    padding: 1em;
}

.text {
    padding: 0 2em;
}

@media (max-width: 599px) {
    .text {
        padding: 0 0.8em;
    }
}

#contents {
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5em;
    color: var(--Color_Text);
}

@media (max-width: 999px) {
    #contents {
        max-width: 100%;
        padding: 0.8em;
    }
}

#bg2 {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
	background: var(--Color_White4);
	background-image: linear-gradient(var(--Color_White5) 1px, transparent 0), linear-gradient(90deg, var(--Color_White5) 1px, transparent 0);
	background-size: 20px 20px;
}