.simple_hA {
	padding: 0.4em 0.5em;
	color: #494949;
	background: #f4f4f4;
	border-left: solid 5px var(--Color_Theme);
}

.simple_hB {
	position: relative;
	padding-left: 25px;
}

.simple_hB:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px var(--Color_Theme);
}

.simple_hB:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px var(--Color_Theme);
}
