#top {
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
}

#top .inner {
    display: table-cell;
    vertical-align: middle;
}

#top a {
    display: inline-block;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: var(--Color_Theme);
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid var(--Color_Theme);
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: var(--default_radius);
    filter: var(--Shadow);
}

#top a::after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .18s;
    z-index: -1;
}

#top a:hover {
    color: var(--Color_Theme);
    filter: var(--Shadow_Sub);
}

#top a:hover::after {
    height: 280%;
    opacity: 1;
}

#update {
	font-size: small;
	text-align: right;
}