#top {
    overflow: hidden;
    top: 0;
    left: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    display: table;
}

#top_inner {
    display: table-cell;
    vertical-align: middle;
}

#top_text {
    font-weight: bold;
    font-size: xx-large;
}

#top #frame_version {
    text-align: initial;
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
}

#update {
    font-size: small;
    text-align: right;
}

#introduction {
    white-space: pre-wrap;
}

#top_blur {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF00);
}

@keyframes sdb {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#frame_yazirusi {
    position: relative;
    height: 0;
    width: 100%;
    margin-top: 32px;
}

#top .yazirusi {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

#top .yazirusi:nth-of-type(1) {
    top: 16px;
    animation-delay: .2s;
}

#top .yazirusi:nth-of-type(2) {
    top: 32px;
    animation-delay: .4s;
}