#works_contentsBar {
    height: 2em;
    position: relative;
    padding: .5em 1em;
}

#works_contentsBar .contentsBar_0 {
    position: absolute;
}

#works_contentsBar .contentsBar_1 {
    position: absolute;
    right: 0;
}

#works_contentsBar .contentsBar_1, #works_contentsBar .contentsBar_0 {
    filter: var(--Shadow);
}

#works_contentsBar .contentsBar_1:hover, #works_contentsBar .contentsBar_0:hover {
    filter: var(--Shadow_Sub);
}

#works_contentsBar .page {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}