#works_parentFrame {
	display: block;
	position: relative;
	padding: 0 2em 1.5em;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
	grid-auto-rows: 256px;
	grid-gap: 20px;
}

#works_parentFrame * {
	color: var(--Color_Text);
	margin: 0;
}

.works_tileFrame img {
	grid-area: img;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 0%;
	overflow: hidden;
}

.works_tileFrame .title {
	grid-area: title;
	padding-top: .75em;
	padding-left: 1em;
}

.works_tileFrame .date {
	grid-area: date;
	min-height: 1em;
	padding-left: 1.75em;
	padding-bottom: .2em;
}

.works_tileFrame .tag {
	grid-area: tag;
	min-height: 1.25em;
	padding-left: 1.75em;
	padding-bottom: 1em;
}

.works_tileFrameLayout {
	height: 100%;
	width: 100%;
	background: var(--Color_Theme);
	display: grid;
	grid-template-areas: "img" "title" "date" "tag";
	grid-template-rows: 50% 1fr auto auto;
	grid-template-columns: 1fr;
	background: var(--Color_White);
	transition: var(--default_transition);
}

.works_tileFrameLayout:hover {
	background-color: var(--Color_Bg_Line);
	opacity: .8;
}

.works_tileFrame {
	width: 100%;
	height: 100%;
	background-color: var(--Color_White);
	position: relative;
	overflow: hidden;
	border-radius: var(--default_radius_plus);
	filter: var(--Shadow);
	text-decoration: none;
}

.works_tileFrame:hover {
	filter: var(--Shadow_Sub);
}

/* スマホ用リスト */

@media (max-width: 599px) {
	#works_parentFrame {
		grid-auto-rows: 4em;
	}
	.works_tileFrame {
		min-width: 100%;
		height: 4em;
		margin: 0.8em 0;
		box-sizing: border-box;
		border-radius: var(--default_radius);
		position: relative;
	}
	.works_tileFrame img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: 50% 0%;
		filter: blur(5px) brightness(120%);
		overflow: hidden;
		position: absolute;
	}
	.works_tileFrameLayout {
		height: auto;
		width: 100%;
	}
	.works_tileFrame .title {
		position: relative;
		width: 100%;
		padding-top: .5em;
		padding-left: .8em;
		box-sizing: border-box;
	}
	.works_tileFrame .date {
		position: relative;
		font-size: x-small;
		padding: 2em 2em auto;
	}
	.works_tileFrame .tag {
		position: relative;
		font-size: x-small;
		padding: 0;
	}
	.works_tileFrameLayout {
		display: grid;
		grid-template-areas: "title title" "date tag";
		grid-template-rows: auto auto;
		grid-template-columns: 6em auto;
		height: 100%;
		text-shadow: 0 0 10px var(--Color_White), 0 0 10px var(--Color_White), 0 0 10px var(--Color_White), 0 0 15px var(--Color_White);
	}
}