#works_parentFrame {
	display: block;
	position: relative;
	padding: 0 2em 1.5em;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
	grid-auto-rows: 240px;
	grid-gap: 20px;
}

#works_parentFrame * {
	color: var(--Color_Text);
	margin: 0;
}

.works_tileFrame img {
	grid-area: img;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 0%;
	overflow: hidden;
}

.works_tileFrame .title {
	grid-area: title;
	padding-top: .75em;
	padding-left: 1em;
}

.works_tileFrame .date {
	grid-area: date;
	min-height: 1em;
	padding-left: 1.75em;
	padding-bottom: .2em;
}

.works_tileFrame .tag {
	grid-area: tag;
	display: none;
}

.works_tileFrameLayout {
	height: 100%;
	width: 100%;
	background: var(--Color_Theme);
	display: grid;
	grid-template-areas: "img" "title" "date";
	grid-template-rows: 64% auto auto;
	grid-template-columns: 1fr;
	background: var(--Color_White1);
	transition: var(--default_transition);
}

.works_tileFrameLayout:hover {
	background-color: var(--Color_White5);
	opacity: .8;
}

.works_tileFrame {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--Color_White1);
	position: relative;
	overflow: hidden;
	border-radius: var(--default_radius_plus);
	filter: var(--Shadow);
	text-decoration: none;
	transition: filter var(--default_transition);
}

.works_tileFrame:hover {
	filter: var(--Shadow_Sub);
}

.mini_button {
	border-left: 4px solid;
}

/* カードの場合 */

@media (min-width: 600px) {
	.works_tileFrame .mini_button {
		display: inline-block;
		background-color: var(--Color_White2);
		padding: .1em .5em;
		margin: .2em .75em 0 0 !important;
		box-sizing: border-box;
		border-radius: var(--default_radius);
	}
}

/* スマホ用リスト */

@media (max-width: 599px) {
	#works_parentFrame {
		grid-auto-rows: 4em;
	}
	.works_tileFrame {
		min-width: 100%;
		height: 4em;
		margin: 0.8em 0;
		box-sizing: border-box;
		border-radius: var(--default_radius);
		position: relative;
	}
	.works_tileFrame img {
		min-width: 4em;
		min-height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		overflow: hidden;
		border-radius: none;
		padding: 0;
		box-sizing: border-box;
	}
	.works_tileFrameLayout {
		height: auto;
		width: 100%;
	}
	.works_tileFrame .title {
		position: relative;
		width: 100%;
		padding-top: .5em;
		padding-left: 1em;
		box-sizing: border-box;
	}
	.works_tileFrame .date {
		font-size: x-small;
		padding: 2em 2em auto;
		box-sizing: border-box;
	}
	.works_tileFrame .tag {
		display: none;
	}
	.works_tileFrame .mini_button {
		padding: 0 .5em;
		border-left: none;
	}
	.works_tileFrameLayout {
		display: grid;
		grid-template-areas: "img title" "img date";
		grid-template-columns: 4em auto;
		grid-template-rows: auto auto;
		height: 100%;
	}
}