/* --- top design --- */
#top {
    overflow  : hidden;
    top       : 0;
    left      : 0;
    position  : relative;
    width     : 100%;
    height    : 100vh;
    max-width : 100vw;
    text-align: center;
    display   : table;
}

#top #top_inner {
    display       : table-cell;
    vertical-align: middle;
}

#top #top_text {
    font-weight: bold;
    font-size  : xx-large;
}

#top #frame_version {
    text-align : initial;
    position   : absolute;
    left       : 0;
    bottom     : 0;
    white-space: nowrap;
}

#top #top_blur {
    z-index   : -1;
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100vh;
    background: linear-gradient(to bottom, var(--Color_White1), rgba(0, 0, 0, 0));
}

/* --- head design --- */
#head {
    padding: 1em;
}

#update {
    font-size : small;
    text-align: right;
}

.text {
    padding: 0 1em;
}

#contents {
    width     : var(--px_tablet);
    min-width : 80%;
    max-width : 100%;
    box-sizing: border-box;
    margin    : 0 auto;
    padding   : 1.5em;
    color     : var(--Color_Text);
}

/* --- foot design --- */
#foot {
    padding         : 2em 4em;
    left            : 0;
    position        : absolute;
    width           : 100%;
    background-color: var(--Color_White2);
    box-sizing      : border-box;
    list-style-type : none;
}